<div class="container">
    <div *ngFor="let mission of missions.missions">  
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{mission.name}}
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p class="font-weight-bold">Id: </p> <p class="font-italic">{{mission.id}}</p>
                <p class="font-weight-bold">Description: </p> <p class="font-italic">{{mission.description}}</p>
                <a href="{{mission.infoURL}}">Mission Info page</a>
                <br>
                <br>
                <a href="{{mission.wikiURL}}">Mission Wikipedia page</a>
                <br><br>
                <div *ngFor="let url of mission.infoURLs">
                    <a href="{{url}}">{{url}}</a>
                    <br><br>
                </div>
                <h2><a href="missions/{{mission.id}}">Detials</a></h2>
            </div>
          </div>
        </div> 
    </div>
    </div>
</div>
